#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: top;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.aboutMovie {
  display: flex;
  flex-direction: row;
}

.imageCover {
  height: 300px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.imageCover:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#movieName {
  text-align: left;

}

.oneWordDesc{
  width: 80vw;
  height: 10vw;
  max-width: 800px;
  max-height: 200px;
  resize: none;
}

.userReview{
  width: 80vw;
  height: 30vw;
  max-width: 800px;
  max-height: 400px;
  resize: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
